#exclude.viewer=true
jboss.deploy.directory=D:/jboss-4.0.5.GAJEMS/server/default/deploy
jboss.server.jndi.port=11299
jboss.port=19280
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
db.username=ctods
db.password=ctods
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/ctods
test.schema.showsql=false
test.java.naming.provider=localhost
po.server.name=localhost
po.port.number=21499
po.username=ejbclient
po.pass=pass
gridServicePrincipal=Gr1DU5er
gridServiceCredential=ltHZmZ1rqYq8j2uyHEABIQ==
doc.upload.filepath.loc=D://doc

# Registry batch upload docs location
batch.upload.filepath.loc=D://batch_docs

# Messaging properties

# Po Server name to look up
po.topic.serverName=localhost
# Po Server port number for the look up
po.topic.port=21499
# The user name for the secured topic 'topic/POTopic', this user name will be provisioned by PO team, they will creating the CSM user and providing the principla/credentials to log in.
po.topic.userName=subscriber
# The password for the secured user
po.topic.password=pass
# The client id in this case PA so PAApplication
po.topic.clientId=PAApplication

# CSM group for Trial Submitters
# Note: The value has to be in sync with CSM Bootstrap data
# loaded during deployment or created via UPT.
csm.submitter.group=Submitter

# Use the tier-specific Registration application url
register.mail.body.url=http://localhost:8080/registry

#Pre-shared JNDI principal & credential for pa-grid <-> pa.ear authentication
gridServicePrincipal=Gr1DU5er
#decrypted password is 'Pa44Wurd' (excluding apostrophes)
gridServiceCredential=ltHZmZ1rqYq8j2uyHEABIQ\=\=
