jboss.deploy.directory=D:/jboss-4.0.5.GAJEMS/server/default/deploy
jboss.port=8280
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
db.username=ctods
db.password=ctods
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/ctods
test.schema.showsql=false
test.java.naming.provider=localhost
po.server.name=localhost
po.port.number=1099
po.username=ejbclient
po.pass=pass
doc.upload.filepath.loc=D://doc

# CSM group for Trial Submitters
# Note: The value has to be in sync with CSM Bootstrap data 
# loaded during deployment or created via UPT.
csm.submitter.group=Submitter

# Mail server hostname
mail.smtp.host=mailfwd.nih.gov
# From address for emails
mail.from.address=do.not.reply@mail.nih.gov

# User Registration Notification
register.mail.subject=NCI Clinical Trials Reporting Portal User Activation
register.mail.body=Thank you for registering with NCI Clinical Trials Reporting Portal. Please click on the link below to activate your account or copy paste the URL in the browser
# Use the tier-specific Registration application url
register.mail.body.url=http://localhost:8080/registry

# Protocol Submission Notification
submission.mail.subject=Clinical Trials Reporting Program (CTRP) Protocol Submission Acknowledgement
submission.mail.body.para1=You have successfully submitted the following protocol to the NCI Clinical Trials Reporting Office (CTRO):\n Lead Organization Trial Identifier 
submission.mail.body.para2=This protocol has been assigned a unique NCI number for tracking which you may need to reference in future correspondence with the CTRO:\n NCI Trial Identifier
submission.mail.body.para3=Shortly we will send you a Trial Summary Report which will contain key elements that we have abstracted from the protocol.\n We request that you review these elements for accuracy and reply with your assessment.If you have questions, you may call the NCI CTRO Office at 301-496-0001 or send an e-mail to TKTK@nci.nih.gov.\n Thank you for your submission.

# Protocol Rejection Notification
rejection.mail.subject=Clinical Trials Reporting Program (CTRP) Protocol Submission Rejection
rejection.mail.body.para1=You have submitted the following protocol to the NCI Clinical Trials Reporting Office (CTRO):\n Lead Organization Trial Identifier
rejection.mail.body.para2=However, we believe this trial already exists in our system. If you feel there has been an error in this duplication check, please contact the NCI CTRO Office at 301-496-0001 or send an e-mail to TKTK@nci.nih.gov. Otherwise, we will consider this submission as rejected. \nThank you for participation in the Clinical Trials Reporting Program.
