<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="java:/hibernate/SessionFactory" >
        <property name="hibernate.connection.datasource">java:/pa-ds</property>
        <property name="hibernate.current_session_context_class">managed</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.CMTTransactionFactory</property>
        <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
        <property name="hibernate.dialect">@hibernate.dialect@</property>
        <property name="hibernate.jdbc.batch_size">25</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="show_sql">true</property>
     
		<!-- mapping classes -->
		<!--
		<mapping class="gov.nih.nci.pa.domain.Protocol" />
		<mapping class="gov.nih.nci.pa.domain.ProtocolStatus" />
		<mapping class="gov.nih.nci.pa.domain.HealthcareSite" />
		<mapping class="gov.nih.nci.pa.domain.StudySite" />
		<mapping class="gov.nih.nci.pa.domain.Investigator" />
		<mapping class="gov.nih.nci.pa.domain.StudyInvestigator" />
        	-->
		<mapping class="gov.nih.nci.pa.domain.Document" />
		<mapping class="gov.nih.nci.pa.domain.DocumentIdentification" />
		<mapping class="gov.nih.nci.pa.domain.StudyProtocol" />
		<mapping class="gov.nih.nci.pa.domain.ObservationalStudyProtocol" />
		<mapping class="gov.nih.nci.pa.domain.InterventionalStudyProtocol" />
		<mapping class="gov.nih.nci.pa.domain.StudyCondition" />
		<mapping class="gov.nih.nci.pa.domain.Condition" />
		<mapping class="gov.nih.nci.pa.service.SessionEntry" />
    </session-factory>
</hibernate-configuration>