pa{
  gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
  driver="org.postgresql.Driver" 
  url="jdbc:postgresql://localhost:5432/ctods"
  user="ctods" 
  passwd="ctods" 
  query="SELECT * FROM csm_user WHERE login_name=? and password=?"
  encryption-enabled="YES";
};