application.base.path=C:/Apps/jboss-eap-6.2.0/pa

pa.server.name=localhost
jboss.port=39480
jboss.server.jndi.port=1099

po.server.name=localhost
po.port.number=14447
po.principal=ejbclient
po.credentials=
po.topic.userName=subscriber
po.topic.password=

db.server=localhost
db.port=5432
db.name=pa_dev
db.username=pauser
db.password=

nci.ldap.prefix=/O=caBIG/OU=caGrid/OU=Training/OU=National Cancer Institute/CN=

grid.target=training-1.3
grid.security.jndi.principal=Gr1DU5er
grid.security.jndi.credentials=
grid.dorian.url=https\://dorian.training.cagrid.org\:8443/wsrf/services/cagrid/Dorian
gridgrouper.url=https\://grouper.training.cagrid.org\:8443/wsrf/services/cagrid/GridGrouper
gridgrouper.submitter.group=COPPA:PA:Submitter
gridgrouper.admin.user=ctrpgrouper
gridgrouper.admin.password=

ctgov.ftp.url=ftp://ctrppa:ctrppa@localhost/
cteprss.user=/O=caBIG/OU=caGrid/OU=Training/OU=Dorian/CN=ctep-rss

log.level=INFO

selenium.server.port=4444


################################
###  ONLY USED ON DEV BOXES  ###
################################
maven.username=
maven.password=


