application.base.path=C:/Apps/pa/paear/jboss-eap-6.2

pa.server.name=localhost
jboss.port=39480
jboss.server.jndi.port=1099

po.tier=local
po.server.name=localhost
po.port.number=31099
po.principal=ejbclient
po.credentials=pass
po.topic.userName=subscriber
po.topic.password=pass

db.server=localhost
db.port=5432
db.name=padb
db.username=pauser
db.password=pauser

grid.security.jndi.principal=Gr1DU5er
grid.security.jndi.credentials=ltHZmZ1rqYq8j2uyHEABIQ==

ctgov.ftp.url=ftp://ctrppa:ctrppa@localhost/

log.level=INFO

ncit.lexEVSRESTDetailsUrl=http://lexevscts2.nci.nih.gov/lexevscts2/codesystem/NCI_Thesaurus/entity
ncit.interventionSyncUrl=http://lexevsapi62.nci.nih.gov/lexevsapi62/GetXML
ncit.interventionPreferredNameUrl=http://lexevscts2.nci.nih.gov/lexevscts2/codesystem/NCI_Thesaurus/entity

register.mail.body.url=http://localhost:39480/registry/registerUseractivate.action

cadsr.url=http://cadsrapi-sandbox.nci.nih.gov/cadsrapi40

################################
###  ONLY USED ON DEV BOXES  ###
################################
maven.username=
maven.password=
mock.po=false

# SSH Connection Information. Currently used only to push PDQ files to remote servers.
pa.ssh.host=
pa.ssh.user=
pa.ssh.password=

# Pa Keystore Password
keystore.password=myKeystorePassword

ldap.url=ldaps://cbioweb-ldap.nci.nih.gov:636
ldap.user=cn=ncicb-dev-ldap,ou=nci,o=nih
ldap.password=
ldap.security.authentication=simple
ldap.security.protocol=ssl
ldap.timeouts.connect=60000
ldap.timeouts.read=60000
ldap.context=ou=nci,o=nih
ldap.uid.attrname=uid
ldap.migration.grouperToIdStringMap=cagrid2-gridgrouper-qa=/O=caBIG/OU=caGrid/OU=QA LOA1/OU=NCICB QA AuthnSvc IdP/CN=;cagrid-gridgrouper-stage=/O=caBIG/OU=caGrid/OU=Stage LOA1/OU=NCI STAGE/CN=;cagrid-gridgrouper-prod=/O=caBIG/OU=caGrid/OU=LOA1/OU=NCI/CN=;cagrid-gridgrouper.nci.nih.gov=/O=caBIG/OU=caGrid/OU=LOA1/OU=NCI/CN=
ldap.migration.excludes=