application.base.path=C:/Apps/pa/paear/jboss-eap-6.2

pa.server.name=localhost
jboss.port=39480
jboss.server.jndi.port=1099

po.tier=local
po.server.name=localhost
po.port.number=31099
po.principal=ejbclient
po.credentials=pass
po.topic.userName=subscriber
po.topic.password=pass

# PO REST-like Services Connection Info.
po.ws.rest.protocol=http
po.ws.rest.hostname=localhost
po.ws.rest.port=39080
po.ws.rest.apipath=/po-webservices/services
po.ws.rest.username=jdoe01
po.ws.rest.password=Aa_1111111


db.server=localhost
db.port=5432
db.name=padb
db.username=pauser
db.password=pauser

nci.ldap.prefix=/O=caBIG/OU=caGrid/OU=QA LOA1/OU=NCICB QA AuthnSvc IdP/CN=

grid.target=nci_qa-2.x
grid.security.jndi.principal=Gr1DU5er
grid.security.jndi.credentials=ltHZmZ1rqYq8j2uyHEABIQ==
grid.dorian.url=https\://cagrid2-dorian-qa.nci.nih.gov\:1521/dorian
gridgrouper.url=https\://cagrid2-gridgrouper-qa.nci.nih.gov\:1521/gridgrouper
gridgrouper.submitter.group=Organization\:CBIIT\:CTRP-COPPA\:PA\:Submitter
gridgrouper.admin.user=ctrpgrouperdev
gridgrouper.admin.password=

ctgov.ftp.url=ftp://ctrppa:ctrppa@localhost/
cteprss.user=/O=caBIG/OU=caGrid/OU=QA LOA1/OU=NCICB QA AuthnSvc IdP/CN=ctep-rss
log.level=INFO

selenium.server.port=4444
cadsr.url=http://cadsrapi.nci.nih.gov/cadsrapi40
register.mail.body.url=http://localhost:39480/registry/registerUseractivate.action
################################
###  ONLY USED ON DEV BOXES  ###
################################
maven.username=
maven.password=

# SSH Connection Information. Currently used only to push PDQ files to remote servers.
pa.ssh.host=
pa.ssh.user=
pa.ssh.password=

# Pa Keystore Password
keystore.password=myKeystorePassword