<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <jboss.home>/Applications/jboss-4.0.5.GA</jboss.home>
        </properties>
    </profile>
    <profile>
        <id>quick</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <struts.devMode>true</struts.devMode>
            <cobertura.check.haltOnFailure>false</cobertura.check.haltOnFailure>
            <maven.test.skip>true</maven.test.skip>
            <pmd.skip>true</pmd.skip>
            <checkstyle.skip>true</checkstyle.skip>
            <jboss.home>/Applications/jboss-4.0.5.GA</jboss.home>
        </properties>
    </profile>
</profiles>
