<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <!--maven.surefire.debug>-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8787 -Xnoagent -Djava.compiler=NONE</maven.surefire.debug-->
        </properties>
    </profile>
    <profile>
        <!--
            Use to run integration-tests against a poear server instance running from build-po build process
            (easily populates instance with data for testing of grid service instances)
        -->
        <id>buildpo</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <database.name>podb</database.name>
            <jdbc.url>${database.url.prefix}${database.name}</jdbc.url>
            <jdbc.username>pouser</jdbc.username>
            <jdbc.password>pouser</jdbc.password>
            <jboss.configuration>poear</jboss.configuration>
            <jboss.port>39080</jboss.port>
            <jboss.naming.port>31099</jboss.naming.port>
            <maven.surefire.debug>-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=8787 -Xnoagent -Djava.compiler=NONE</maven.surefire.debug>
        </properties>
    </profile>
    <profile>
        <id>quick</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <struts.devMode>true</struts.devMode>
            <cobertura.check.haltOnFailure>false</cobertura.check.haltOnFailure>
            <skipTests>true</skipTests>
            <!-- maven.test.skip>true</maven.test.skip-->
            <pmd.skip>true</pmd.skip>
            <checkstyle.skip>true</checkstyle.skip>
        </properties>
    </profile>
</profiles>
